@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --text-color-dark: #2b2b2b;
    --text-color-light: #ffffff;

    --bg-color-red: #9F3647;
    --bg-color-def: #181419;
    --bg-color-form: #2A2A2A;

    --box-shadow-dark: #2c2c2c;
    --box-shadow-light: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: black;
}


/* ? Estilos Scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color-red);
}

::-webkit-scrollbar-track {
    background: #171717;
}

/* ::-webkit-scrollbar-button{
    background: #171717;
} */


/* ! Clases Custom*/
.text-dark {
    color: var(--text-color-dark);
}

.text-light {
    color: var(--text-color-light) !important;
}

.bg-red {
    background: var(--bg-color-red);
}

.bg-def {
    background: var(--bg-color-def);
}

.bg-form {
    background: var(--bg-color-form);
}

.btn-nav {
    border-radius: 5px;
}

.btn-nav:hover {
    transition: 0.5s all ease;
    /* transform: scale(1.1); */
    /* border: 1px solid gray; */
    box-shadow: 0 0 8px 0px var(--box-shadow-dark);
}

.btn-login {
    background-color: var(--bg-color-def);
    border-radius: 5px;
}

.btn-login:hover {
    background-color: var(--bg-color-red);
    box-shadow: 0 0 8px 0px var(--box-shadow-dark);
}

.btn-registrarse {
    padding: 0.9rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--bg-color-red);
    border: none;
}

.btn-registrarse:hover {
    transform: scale(0.95);
    transition: 0.3s all ease;
    box-shadow: 0 0 10px -4px var(--box-shadow-light);
}

.btn-navegacion {
    background-color: var(--bg-color-red);
}

.btn-navegacion:hover {
    transform: scale(0.95);
    transition: 0.3s all ease;
    box-shadow: 0 0 10px -4px var(--box-shadow-light);
}

.btn:hover {
    background: var(--bg-color-red) !important;
}

/* ? Logo */
.an-logo:hover{
    animation: tilt-n-move-shaking 0.25s infinite;
}

/* ? Banner Principal */
#banner {
    background-image: linear-gradient(to top, #000000cb, #00000065), url('./src/Background/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 93vh;
    text-align: center;
    color: white;
}

.banner-titulo {
    font-size: 7vh;
}

.banner-descripcion {
    font-size: 3.5vh;
}

/* ? Seccion de formulario Busqueda */
#search {
    background: var(--bg-color-def);
}

.search-titulo{
    font-size: 5vh !important;   
}

.form-busqueda {
    color: var(--text-color-dark) !important;
    padding: 8rem 0rem;
    text-align: center;
}

.form-busqueda h2 {
    padding: 0px 20px;
    font-size: 2rem;
}

.form-busqueda form {
    margin-top: 2em;
}

.form-busqueda form input {
    border: none;
    border-radius: 15px;
    padding: 12px 15px;
    /* width: 50vw; */
    width: 45vw;
    color: black;
}

.form-busqueda form button {
    border: none;
    color: var(--text-color-light);
    font-weight: bold;
    background-color: var(--bg-color-red);
    border-radius: 15px;
    padding: 15px 30px;
    margin-left: 10px;
    cursor: pointer;
}

.form-busqueda form button:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
}

/* ? Hr separador */
.box-linea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea {
    height: 3px;
    width: 70vw;
    background-color: var(--bg-color-red);
}

/* ?  Collection Movies */
.movies {
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie {
    position: relative;
    max-height: 100%;
    max-width: 300px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie:hover .movie-titulo {
    display: grid;
    top: 0%;
}


.movie:hover img {
    filter: blur(5px);
}

.movie:hover {
    border-radius: 8px;
    box-shadow: 0 0 10px 5px #ff0000b3;
    transform: scale(0.95);
    transition: 0.5s all ease;
}

.movie img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.movie-titulo {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 30%;
    text-align: center;    
}


.movie-titulo a {
    text-decoration: none;
    color: var(--text-color-light);
    font-weight: bold;
    font-size: 2.2vh;
    text-shadow: 2px 2px black;
}

/* ? Slider movies */
#slider {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}

.slider {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.slide {
    border-radius: 25px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ? Pie de pagina - footer */
footer {
    background-color: var(--bg-color-red);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}

.tendencia-titulo{
    font-size: 3vh !important;   
}

/* ? Boton To Up */
#arrow-up {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.5em 1.2em;

    font-size: 1.1rem;
    cursor: pointer;
    color: var(--bg-color-red);

    padding: 5px;
    border-radius: 50%;
    border: 2.5px solid var(--bg-color-red);
    box-shadow: 0px 0px 10px -5px var(--text-color-light);
    background-color: var(--bg-color-def);
}

#arrow-up:hover {
    transition: all 0.4s ease;
    transform: scale(1.15);
}

/* ? Login && Registro */

.bg-login {
    background-image: linear-gradient(to top, #00000060, #00000052), url('./src/Background/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: white;
}

#formulario-login-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80vh; */
    height: 87%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-form);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.form-login {
    padding: 15.5rem 1rem;
}

.form-registro {
    padding: 5rem 1rem;
}

.form h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin: 0.3rem 1rem;
}

.form input,
select {
    border: 2px solid var(--bg-color-red);
    border-radius: 1rem;
    background-color: var(--bg-color-form);
    margin: 0.5rem 1rem;
    padding: 0.3rem 1rem;
    color: var(--text-color-light);
}

.form .input-date{
padding: 1.1rem 1rem;
}

.form input:hover {
    border: 2px solid white;
}

.form button {
    border: none;
    margin: 0rem 1rem;
    border-radius: 5px;
    background-color: var(--bg-color-red);
    color: var(--text-color-light);
    padding: 1rem 0rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.form p {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.form p a {
    font-size: 1rem;
    color: gray;
    text-align: center;
}


/* ! Pantalla Detalle Movie */

/* ? Banner Movie Detalle */
#banner-detalle {
    background-image: linear-gradient(to top, #030303, #03030331), url('./src/movie-detalle/mario-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    height: 70vh;
    text-align: center;
    color: white;
}

#banner-detalle .row {
    height: 100%;
    margin: 25vh 0 0 0;
}



#movie-trailer {
    /* height: 60vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0rem 5rem 0rem;
    width: 100%;
}

#movie-trailer .row {
    margin: 0;
    margin-top: 2rem;
}

.portada {
    width: 100%;
    height: 100%;
}

.portada img {
    border-radius: 20px;
    height: 25vw;
    width: auto;
    margin-right: 4vw;
}

.portada-text {
    margin: 6vh 0vw 0vh -2vw;
}

.text-shadow {
    text-shadow: 0px 4px 5px black;
}

.video-trailer iframe {
    width: 40rem;
    height: 20rem;
}

.elenc {
    margin-left: -0.8rem;
}

@media screen and (max-width: 767px) {
    .form {
        width: 90%;
    }

    .portada img {
        height: 25rem;
        margin-right: 0.5rem;
    }

    #banner-detalle {
        height: 100%;
    }

    #banner-detalle .row {
        margin: 10vh 0 0 0;
    }

    #movie-trailer .row {
        margin: 0;
        margin-top: -2rem;
    }


    .video-trailer iframe {
        width: 100%;
        height: 20rem;
    }

    .banner-titulo {
        font-size: 4.5vh;
    }
    
    .banner-descripcion {
        font-size: 2.5vh;
    }
    
    .search-titulo{
     font-size: 2.5vh !important;   
    }

    .movie-titulo a {
        font-size: 3.5vh;
    }

    .tendencia-titulo{
        font-size: 3vh !important;   
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .form {
        width: 60%;
    }

    .portada img {
        height: 25rem;
        margin-right: 0.5rem;
    }

    #banner-detalle {
        height: 100%;
    }

    #banner-detalle .row {
        margin: -5vh 0 0 0;
    }

    .banner-titulo {
        font-size: 6vh;
    }
    
    .banner-descripcion {
        font-size: 3vh;
    }

    .search-titulo{
        font-size: 3.5vh !important;   
    }

    .movie-titulo a {
        font-size: 2.5vh;
    }

    .tendencia-titulo{
        font-size: 2.5vh !important;   
    }
}

@media screen and (min-width: 1024px) {
    .form {
        width: 30%;
    }

    .form h1 {
        font-size: 2.5rem;
        text-align: left;
    }

    .form p a {
        text-align: left;
    }

}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}